# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\danie\Desktop\COMP309\Project\COMP309_2020_Project\COMP309_2020_Project\ProjectTemplate_python3.8\ProjectTemplate_python3.8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
